@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* .header_bg {
  background: #87ceeb;
} */

.header_bg {
  height: 900px;
  background: rgb(15,27,42);
  background: linear-gradient(81deg, rgba(15,27,42,1) 0%, rgba(135,206,235,1) 0%, rgba(59,132,162,1) 70%);
}

/* styles.css */
.feature_bg {
  position: relative;
  overflow: hidden;
  background: url('../../public/background.svg') no-repeat bottom;
  background-size: cover;
}



.school_bg {
  background: rgb(15,27,42);
  background: linear-gradient(81deg, rgba(15,27,42,1) 0%, rgba(135,206,235,1) 0%, rgba(59,132,162,1) 70%);
}

.parent_bg {
  background-color: #fff;
}

.pupil_bg {
  background: rgb(15,27,42);
  background: linear-gradient(81deg, rgba(15,27,42,1) 0%, rgba(135,206,235,1) 0%, rgba(59,132,162,1) 70%);
}

.download_bg {
  background: rgb(15,27,42);
  background: linear-gradient(81deg, rgba(15,27,42,1) 0%, rgba(135,206,235,1) 0%, rgba(59,132,162,1) 70%);
}